#button{
    width: 100px;
    background-color: rgb(0, 81, 255);
}
.orange{
     justify-content: center;
    display: flex;
     color: whitesmoke;}
    body{background-image: url("Image/Player2.0.png");}

form{background-color: rgba(53, 44, 44, 0.719); 
    padding: 50px;
}